/* stylize at least text and range slider in HTML (10pts)

 */
body {
    background-color: white; /* 这里的颜色代码可以根据需要更改 */
}

h1 {
    color: rgb(0, 179, 255);
    text-align: center;
}

.prompt {
    color: rgb(0, 179, 255);
    text-align: center;
}

.canvasStyle {
    width: 70%;
    height: auto;
    border: 4px solid rgb(19, 128, 0);
    display: block;
    margin: 0 auto;
    background-color: white;
}

.button{
    display: block;
    text-align: center; /* 可以是 left, right, 或 center */
}

.button button {
    font-size: 16px; /* 修改这里的值来改变字体大小 */
}

.radio {
    text-align: center;
}

/* .slidecontainer {
    width: 80%;
    display: block;
    margin: 0 auto;
} */
.slidecontainer {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中（如果需要） */
    flex-direction: column; /* 使子元素垂直排列（如果需要） */
}


/* .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #bababa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
} */
.slider {
    /* -webkit-appearance: none; */
    width: 50%; /* 例如，设为容器宽度的50% */
    height: 25px;
    background: #bababa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: auto; /* 这将使滑块在Flex容器中居中 */
}


.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

/* .lineWidth {
    margin-left: 29cm;
} */

.lineWidth {
    display: block;
    text-align: center; /* 可以是 left, right, 或 center */
}


.value {
    text-align: center;
}